.metadata

# Production builds
prod/

tmp/
*.log
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

*.zip
bin/
*.class

# NodeJS folder.
node_modules/

## Project Zomboid
#
# Legal exclusion of class files.
src/zombie
src/zombieold
src/zombie3711
src/zombie3712
src/zombie3710
src/zombie3709
src/zombie3822
src/sledgehammer/modules/vanilla/VanillaCommandListener.java